<section>
	<div class="prev-container">Prev Container</div>
	<div class="scroll-container">
		<section class="text-pin-section">
			<p id="animated-text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, fuga
				aperiam? Excepturi amet recusandae officia commodi consequuntur
				repudiandae ab dolores, deserunt blanditiis illo natus asperiores
				pariatur impedit neque saepe corporis autem voluptates, porro dolore!
				Eveniet corrupti consequuntur natus illo nesciunt impedit sapiente
				voluptatem, dolorem voluptates nisi eius, possimus corporis aliquam
				suscipit aspernatur at facere porro sequi, numquam iste fugit eum omnis
				asperiores ratione. Aperiam provident doloribus, laudantium repellat
				nemo, inventore at voluptates, magni quidem reprehenderit nisi? Facere
				fugiat facilis molestiae tempora architecto? Tempore, veritatis
				dignissimos vero dolorum voluptatem consectetur voluptatum mollitia eos
				provident rerum, accusamus asperiores blanditiis aperiam quasi maxime
				aliquam cupiditate. Suscipit, corporis, voluptatibus quaerat in dolorem
				voluptas fugit consequuntur, velit laudantium incidunt numquam
				doloremque ab alias vel! Veritatis, fugiat quod. Vitae rem quod sint.
				Harum nulla ad soluta aliquid laudantium quibusdam similique odio
				voluptatibus, nisi aspernatur tempora eligendi sed ipsum voluptate,
				porro asperiores vero delectus fugiat minus recusandae!
			</p>
		</section>
	</div>
	<div class="next-container">Next Container</div>
</section>
